@font-face {
	font-family: "Regular";
	src:
		url("../fonts/vegur/Vegur-Regular.otf") format("OpenType"),
		url("../fonts/vegur/Vegur-Regular.svg") format("svg"),
		url("../fonts/vegur/Vegur-Regular.woff") format("woff"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.ttf") format("TrueType"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.svg") format("svg"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.woff") format("woff");
}

@font-face {
	font-family: "Bold";
	src:
		url("../fonts/vegur/Vegur-Bold.otf") format("OpenType"),
		url("../fonts/vegur/Vegur-Bold.svg") format("svg"),
		url("../fonts/vegur/Vegur-Bold.woff") format("woff"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.ttf") format("TrueType"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.svg") format("svg"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.woff") format("woff");
}

@font-face {
	font-family: "Light";
	src:
		url("../fonts/vegur/Vegur-Light.otf") format("OpenType"),
		url("../fonts/vegur/Vegur-Light.svg") format("svg"),
		url("../fonts/vegur/Vegur-Light.woff") format("woff"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.ttf") format("TrueType"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.svg") format("svg"),
		url("../fonts/higashiome/HigashiOme-Gothic-C.woff") format("woff");
}
